<IfModule mod_rewrite.c>
    RewriteEngine On
    
	RewriteRule ^(.{3})/services/index/(.*)$ /$1/services/$2 [R=302,L]
	
	RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
