/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {font-size: 100.01%;}
html {font-size: 62.5%;}
body{
	margin:0;
	color:#404f59;
	font:1.7em/1.294em "Museo Sans W01 500", Arial, Helvetica, sans-serif;
	background:#fff;
	min-width:980px;
}
img{
	border:0;
	vertical-align:top;
}
a{
	text-decoration:none;
	color:#404f59;
}
a:hover{text-decoration:underline;}
a:active{background:transparent;}
input,
textarea,
select{
	font:100% "Museo Sans W01 500", Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#404f59;
}
textarea{overflow:auto;}
form,
fieldset{
	margin:0;
	padding:0;
	border:0;
}
input:focus{
  outline: none;
}
input[type="submit"]:hover{cursor:pointer;}

::-webkit-input-placeholder { color:#404F59; }
:-moz-placeholder { color:#404F59; } /* firefox 19+ */
:-ms-input-placeholder { color:#404F59; } /* ie */
input:-moz-placeholder { color:#404F59; }


/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}
.w1,
.w2{
	width:1176px;
	position:relative;
	float:left;
	left:50%;
}
.w2{
	left:-50%;
	margin:0 0 20px;
	position:relative;
	z-index:1;
	width:960px;
	overflow:hidden;
	padding:22px 108px 26px;
}
#header{
	overflow:hidden;
	border-bottom:2px solid #dde0e2;
}
.header-link{
	float:left;
	margin:9px 0 0 335px;
	width:169px;
}
.header-link .account{
	float:left;
	text-align:center;
	font-size:12px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	width:88px;
	height:26px;
	background:url(../img/btn-blue2.png) no-repeat;
	line-height:26px;
}
.header-link .logout{
	float:right;
	text-align:center;
	font-size:12px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	width:75px;
	height:26px;
	background:url(../img/btn-blue.png) no-repeat;
	line-height:26px;
}
.header-holder{
	overflow:hidden;
	padding:0 0 19px;
	border-bottom:2px solid #dde0e2;
	height:49px;
	margin-bottom:33px;
}
.color-box{
	float:left;
	width:100px;
	padding:1px 8px 0 0;
	font-size:0.706em;
}
.color-box ul{
	overflow:hidden;
	margin:0 0 3px;
}
.color-box li{
	float:left;
	margin:0 6px 0 0;
}
.color-box li a{
	float:left;
	width:15px;
	height:16px;
	text-indent:-9999px;
	overflow:hidden;
}
.color-box .gray a{
	background:#ededed;
	border:1px solid #545150;
}
.color-box .yellow a{
	background:#ffd000;
	border:1px solid #545150;
}
.color-box .blue a{
	background:#41bced;
	border:1px solid #545150;
}
.color-box .title{display:block;}
.size-box{
	float:left;
	width:110px;
	padding:0 8px 0 0;
	font-size:0.706em;
}
.size-box ul{margin:0 0 -2px;}
.size-box ul:after{
	content:'';
	display:block;
	clear:both;
}
.size-box li{
	float:left;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	margin:0 2px 0 0;
	line-height:24px;
}
.size-box .large{
	font-size:26px;
}
.size-box .average{
	font-size:22px;
	line-height:23px;
	padding:1px 0 0;
}
.size-box .small{
	font-size:18px;
	padding:2px 0 0;
	line-height:22px;
}
.size-box .title{
	display:block;
	clear:both;
	line-height:1.583em;
}
.login-form{
	float:left;
	width:520px;
	margin:7px 0 0 31px;
}
#favourites-action .login-form{
	float:none;
	margin:7px 0 20px 0;
}
#forgot{
	position:absolute;
	top:42px;
	right: 295px;
	font-size:12px;
	text-decoration:underline;
}
#forgot a:hover{
	text-decoration:none;
}
#main .login-form{
	float:none;
	margin:30px 0
}
.login-form input{
	width:198px;
	/*height:31px;*/
	line-height:1.214em;
	margin:0 7px 0 0;
	padding:6px 8px;
	font-size:0.824em;
	background:#dde0e2;
	border:none;
	float:left;
}
.login-form input:first-child{
	width:184px;
	margin:0 9px 0 0;
}
.login-form input[type="submit"], .btn{
	margin:2px 0 0;
	padding:0 18px;
	height:26px;
	width:auto;
	line-height:26px;
	background:#613277;
	border-radius: 20px;
	font-size:0.706em;
	color:#fff;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	border:none;
	text-align:center;
	display:inline-block;
}

#loggedin {
	float:left;
	width: auto;
	margin-left:200px;/*330px when colours shown*/
	padding:5px 0 0 0;
}
#loggedin a {
	margin-left: 10px;
}
#loggedin a:active {
	background:#41bced;
}
#loggedin a:hover {
	text-decoration:none;
}
.network-type-report .page-content {
	float:right;
	max-width:350px;
}
.question-box .btn-holder{
	margin: 20px 0;
}
.btn-twitter,.btn-facebook{
	float:left;
	padding:0 3px 3px 47px;
	font-size:1.824em;
	line-height:2.643em;
	min-height:37px;
	font-family: 'Museo Sans W01 500', Arial, Helvetica, sans-serif;
}
.btn-twitter{
	margin-top: 38px;
}
.password-box{
	display: block;
	position: relative;
}
.language-box{
	display: block;
	float: right;
	font-size:12px;
}
.language-box ul{
	display: block;
	list-style: none;
	width:140px;
}
.language-box ul li{
	width:29px;
	height:20px;
	display: inline-block;
}
.language-box ul li a{
	width:29px;
	height:20px;
	display: inline-block;
	margin-right: 6px;
	overflow:hidden;
	text-indent:-999em;
}
.language-box ul li a.lang-eng{
	background-image: url(../img/flag-uk.png);
}
.language-box ul li a.lang-bul{
	background-image: url(../img/flag-bulgaria.png);
}
.language-box ul li a.lang-gre{
	background-image: url(../img/flag-greece.png);
}
.language-box ul li a.lang-spa{
	background-image: url(../img/flag-spain.png);
	margin-right: 0px;
}

.btn-twitter{
	background:url(../img/ico-twitter.png) no-repeat !important;
}
.btn-facebook{
	background:url(../img/ico-facebook.png) no-repeat !important;
	margin-right:10px;
}
.header-section{
	overflow:hidden;
	padding:25px 0 16px;
	border-bottom:2px solid #dde0e2;
}
.logo{
	width: 225px;
	float:left;
	margin-top: 15px;
}
.logo a{
	display:block;
}
.logo img {
	max-width: 100%;
}
.header-box{
	float:right;
	width: 720px;
	padding:19px 0 0;
}
.header-box .menu{
	overflow:hidden;
	margin:0 0 21px 4px;
	font-size:13px;
	line-height:31px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.header-box .menu li{
	float:left;
	padding:10px 0 10px 4px;
}
.header-box .menu li:first-child{padding-left:0;}
.header-box .menu a{
	float:left;
	padding:0 5px;
	min-width:81px;
	text-decoration:none;
	background:#613277;
	text-align:center;
	color:#fff;
}
.header-box .menu li:nth-child(2) a{
	background:#6b4184;
}
.header-box .menu li:nth-child(3) a{
	background:#6c51a2;
}
.header-box .menu li:nth-child(4) a{
	background:#7f6bb5;
}
.header-box .menu li:nth-child(5) a{
	background:#9487c6;
}
.header-box .menu li:nth-child(6) a{
	background:#b2abdd;
}
.header-box .menu li:nth-child(7) a{
	background: rgb(208, 209, 241);
}

.header-box .menu .active a,
.header-box .menu a:hover{
	padding:10px 5px;
	margin:-10px 0;
}
/*.header-box .menu li:first-child a{padding:10px 8px;}*/
.header-box .search-form{
	width:691px;
	overflow:hidden;
}
.header-box .search-form input[type="text"], .contact input[type="text"], .contact input[type="email"], .contact textarea{
	float:left;
	background:#dde0e2;
	border:none;
	width:627px;
	height:31px;
	line-height:2.214em;
	margin:5px 4px 0;
	font-size:0.824em;
	padding:0 8px;
}
.header-box .search-form input[type="text"]{
	width: 587px;
}
.contact form {
	width:350px;
}
.contact input[type="text"], .contact input[type="email"], .contact textarea {
	width:300px;
	margin-bottom:8px;
}
.contact textarea {
	height:100px;
}
#nav{
	overflow:hidden;
	padding:15px 0 17px 2px;
	font-size:18px;
	margin:0 -2px 0 0;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
#nav li{
	float:left;
	margin:0 4px 0 0;
	width:156px;
}
#nav a{
	display:block;
	text-align:center;
	padding:14px 0 12px;
	text-decoration:none;
	height:19px !important;
	line-height: 19px;
	color:#fff;
}
#nav li.active a{
	margin-top: -7px;
	padding-top:21px;
	padding-bottom:18px;
}
#nav li.active.category-19 a{
	padding-top:14px;
	padding-bottom: 12px;
}
#nav .category-1 a{background:#c3e76f;}
#nav .category-7 a{background:#ff9b43;}
#nav .category-13 a{background:#ff7876;}
#nav .category-15 a{background:#4ecdc4;}
#nav .category-19 a{
	background:#6c51a2;
	font-size:17px;
	line-height:18px;
	padding:6px 0 5px;
	height:34px !important;
}
#nav .category-23 a{background:#72c271;}
#nav .category-1 a:hover{background:#e4eec4;}
#nav .category-7 a:hover{background:#fdd3ac;}
#nav .category-13 a:hover{background:#fac8c9;}
#nav .category-15 a:hover{background:#a0d8d5;}
#nav .category-19 a:hover{background:#dcdaed;}
#nav .category-23 a:hover{background:#c6e3c1;}
/*#main{
	overflow:hidden;
}*/
.main-holder{
	overflow:hidden;
	padding:21px 0 17px;
	line-height:1.059em;
	border-bottom:2px solid #dde0e2;
	margin-bottom: 24px;
}

.main-holder .text-box p,
.formatted p{
	margin:0 0 16px;
}
.text-box ul,
.formatted ul,
.text-box ol,
.formatted ol{
	list-style-type:circle;
	padding-left:2em;
	margin:0 0 16px;
}
.text-box ol,
.formatted ol{
	list-style-type:decimal;
}
.text-box li,
.formatted li{
	margin:0 0 8px;
}
.text-box sup,
.formatted sup{
	vertical-align: super;
	font-size:80%;
}
.text-box sub,
.formatted sub{
	vertical-align: sub;
	font-size:80%;
}

.main-holder .text-box b, .main-holder .text-box strong,
.formatted b, .formatted strong{font-family:"Museo Sans W01 900", Arial, sans-serif;}
.main-holder .text-box h1{
	margin:0 0 13px;
	font-size:1.176em;
	line-height:1.176em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.options-section{
	overflow:hidden;
	padding:0px 0 26px 5px;
	border-bottom:2px solid #dde0e2;
}
.about .options-section {
	border:0;
	padding-bottom:0;
}
.options-section h2{
	font-size:1.176em;
	line-height:1.176em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	margin:0 0 19px;
}
.options-list{
	overflow:hidden;
	font-size:0.941em;
	line-height:1.125em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	margin:0 0 0 -10px;
}
.options-list li{
	float:left;
	width:310px;
	margin:0 0 0 10px;
	min-height:110px;
	position:relative;
	background: #613277;
}
.options-list li a{
	display:block;
	padding:18px 19px 0 106px;
	/*min-height:80px;*/
	height:132px;
	box-sizing:border-box;
	background:#41bced url(../img/ico-mouse.png) no-repeat 7px 13px;
	color:#fff;
}
.options-list .mouse a{
	background:#613277 url(../img/ico-mouse.png) no-repeat 7px 13px;
}
.options-list .search a{
	background:#613277 url(../img/ico-search.png) no-repeat 7px 13px;
	padding:18px 16px 0 106px;
}
.options-list .pencil a{
	background:#613277 url(../img/ico-pencil.png) no-repeat 7px 13px;
	padding:28px 19px 0 106px;
}
.video-section{
	overflow:hidden;
	padding:22px 0 28px 5px;
}
.video-box{
	float:left;
	width:310px;
	margin:0 0 0 10px;
}
.video-box:first-child{margin-left:0;}
.video-box h2{
	margin:0 0 22px;
	font-size:1.176em;
	line-height:1em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.video{
	position:relative;
	overflow:hidden;
	border:5px solid #41bced;
}
.video .btn-play{
	position:absolute;
	top:71px;
	background:url(../img/btn-play.png) no-repeat;
	width:74px;
	height:74px;
	left:108px;
	text-indent:-9999px;
	overflow:hidden;
}
.video-box .text-box{
	overflow:hidden;
	padding:5px 8px 8px 7px;
	border:5px solid #41bced;
	border-top:none;
	font-size:0.941em;
	line-height:1.125em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	min-height:36px;
}
.content-box{
	overflow:hidden;
	padding:16px 0 24px;
}
.aside{
	float:left;
	width:366px;
}
.aside .print{
	float:left;
	margin:0 0 9px;
	font-size:0.824em;
	font-style:italic;
	line-height:41px;
	background:url(../img/ico-print.png) no-repeat;
	padding:0 0 0 54px;
	height:41px;
}
.aside .link-holder {
	clear: both;
	overflow: hidden;
	margin: 0 -1px 0 0;
}
.aside .link-holder a {
	font-size: 18px;
	font-family: "Museo Sans W01 900", Arial, sans-serif;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
}
.aside .link-holder .results {
	background: #f1f3f3;
}
.aside .link-holder .favourites {
	width: 173px;
	background: #ffe66e url(../img/ico-star.png) no-repeat 95% 8px;
}
.aside .link-holder .favourites:hover {
	background-color: #fff0a8;
}
.aside h2{
	padding:2px 19px 0px 19px;
	line-height: 22px;
	font-size:0.941em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.aside #results-box{
	clear:left;
}
.aside #results-box .no-results{
	font-size: 0.941em;
	padding:2px 19px 0;
}
.category-7 h2{
	background:#ff9b43;
}
.category-13 h2{
	background:#ff7f8c;
}
.category-1 h2{
	background:#c3e76f;
}
.category-15 h2{
	background:#4ecdc4;
}
.category-19 h2{
	background:#a7a7ff;
}
.category-23 h2{
	background:#72c271;
}
.aside-list{
	overflow:hidden;
	background:#f1f3f3;
	padding:0 0 10px;
}
.aside-list li{
	border-top:1px solid #b9bbbc;
	overflow:hidden;
	position:relative;
	padding:15px 22px 13px 9px;
	width:335px;
	float:left;
}
div.service{
	background:#f1f3f3;
	padding:15px 0px 13px 0px;
}
.favourites div.service,
.favourites #results-list,
.favourites .aside-list,
.favourites .aside-holder,
.favourites #results-list h2{
	background:#ffe66e !important;
}
.favourites .results-list:hover, .favourites .results-list.active{
	background-color:#fed652 !important;
}
.favourites #results-list h2{
	border-bottom: 1px solid #B9BBBC;
}
.favourites li .aside-list .more {
    background: url("../img/btn-dark.png") no-repeat scroll 0 0 transparent;
    color: #ffe66e;
}
.favourites li .aside-list h3 .mark,
.favourites div.service h2,
.favourites  div.service h3{
	color: #404F59 !important;
}
.favourites li .number,
.favourites .text-box .number{
	background: url("../img/ico-dark.png") no-repeat scroll 0 0 transparent;
    color: #ffe66e;
}
div.service h2{
	background: none;
	padding: 0;
	margin-bottom: 10px;
	font-size: 18px;
}
div.service h3{
	font-size:16px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	line-height:1.4em;
}
div.service h3 .mark{
	font-family:"Museo Sans W01 500", Arial, sans-serif;
	color:#404f59;
}

.results-list .text-box {
	display: none;
	font-size: 0.6em;
	line-height: 1.2em;
}

.results-list h4 {
	font-weight: bold;
}
div.service.category-1 h2,
div.service.category-1 h3,
.category-1 h4{
	color: #728044;
}
div.service.category-7 h2,
div.service.category-7 h3,
.category-7 h4{
	color:#a14a23;
}
div.service.category-13 h2,
div.service.category-13 h3,
.category-13 h4{
	color:#972034;
}
div.service.category-15 h2,
div.service.category-15 h3,
.category-15 h4{
	color:#0a6475;
}
div.service.category-19 h2,
div.service.category-19 h3,
.category-19 h4{
	color:#3b4268;
}
div.service.category-23 h2,
div.service.category-23 h3,
.category-23 h4{
	color:#3b4268;
}
.aside .number{
	float:left;
	margin:0 14px 0 0;
	width:37px;
	height:46px;
	font-size:19px;
	text-align:center;
	line-height:40px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.aside-list li:first-child{
	padding-top:20px;
	border:none;
}

.category-1 .results-list:hover, .category-1 .results-list.active{background-color: #e4eec4;}
.category-7 .results-list:hover, .category-7 .results-list.active{background-color:#fdd3ac;}
.category-13 .results-list:hover, .category-13 .results-list.active{background-color:#fac8c9;}
.category-15 .results-list:hover, .category-15 .results-list.active{background-color:#a0d8d5;}
.category-19 .results-list:hover, .category-19 .results-list.active{background-color:#dcdaed;}

.category-23 .results-list:hover{
	background-color: #c6e3c1;
}

.category-1 .number{
	color: #728044;
	background:url(../img/ico-green.png) no-repeat;
}
.category-7 .number{
	color:#a14a23;
	background:url(../img/ico-orange.png) no-repeat;
}
.category-13 .number{
	color:#972034;
	background:url(../img/ico-pink.png) no-repeat;
}
.category-15 .number{
	color:#0a6475;
	background:url(../img/ico-aqua.png) no-repeat;
}
.category-19 .number{
	color:#3b4268;
	background:url(../img/ico-purple.png) no-repeat;
}
.category-23 .number{
	color: #3c663b;
	background:url(../img/ico-dark-green.png) no-repeat;
}
.aside-list .text-section{
	float:left;
	width:266px;
}
.service-in-network-circle {
	position: relative;
	clear: both;
	display: block;
	background: url(../img/icons/icon-heart_03.png) no-repeat;
	padding-left: 25px;
	margin-left: 51px;
	background-position: 0 center;
	margin-top: 10px;
}
.aside-list .text-section h3{
	padding:0 0 12px;
	font-size:0.83em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	line-height:1em;
}
.category-15 .aside-list li:first-child .text-section h3{padding:0 0 18px;}
.category-7 .aside-list h3 .mark{
	color:#a14a23;
	font-weight:normal;
}
.category-13 .aside-list h3 .mark{
	color:#972034;
	font-weight:normal;
	padding:2px 0 0;
	display:block;
	margin:0 0 -3px;
}
.category-1 .aside-list h3 .mark{
	color:#728044;
	font-weight:normal;
}
.category-15 .aside-list h3 .mark{
	color:#0a6475;
	font-weight:normal;
}
.category-19 .aside-list h3 .mark{
	color:#3b4268;
	font-weight:normal;
}
.category-23 .aside-list h3 .mark{
	color: #3c663b;
	font-weight:normal;
}
.aside .favourite-link{
	padding:0 34px 0 0;
	background:url(../img/ico-star.png) no-repeat 100% 0;
	font-style:italic;
	line-height:2.167em;
	font-size:0.706em;
	float:left;
	min-height:26px;
}
.aside .favourite-link.favourite-exists{
	background-position:100% -52px;
}
.aside-list .more{
	width: 89px;
	height: 26px;
	line-height: 28px;
	text-align: center;
	font-family: "Museo Sans W01 900", Arial, sans-serif;
	bottom: 16px;
	font-size: 0.706em;
	display: inline-block;
	float: right;
	margin-top: -26px;
}
.category-7 .aside-list .more{
	background:url(../img/btn-orange.png) no-repeat;
	color:#a14a23;
}
.category-13 .aside-list .more{
	background:url(../img/btn-pink.png) no-repeat;
	color:#972034;
	bottom:13px;
}
.category-1 .aside-list .more{
	background:url(../img/btn-green.png) no-repeat;
	color:#728044;
	bottom:20px;
}
.category-15 .aside-list .more{
	background:url(../img/btn-aqua.png) no-repeat;
	color:#0a6475;
	bottom:20px;
}
.category-19 .aside-list .more{
	background:url(../img/btn-purple.png) no-repeat;
	color:#3b4268;
}
.category-23 .aside-list .more{
	background:url(../img/btn-dark-green.png) no-repeat;
	color: #3c663b;
}
.aside-holder{
	background:#f1f3f3;
	overflow:hidden;
	border-top:2px solid #cccecf;
	padding:13px 11px 6px 9px;
	min-height:50px;
}
.aside-holder #results-pager{
	float:right;
	width:134px;
}
.aside-holder .pager-holder{
	overflow:hidden;
	padding:0 0 5px;
}
.aside-holder .pager-holder .prev{
	float:left;
	background:url(../img/btn-prev.png) no-repeat 2px 0;
	padding:0 0 0 33px;
	font-size:0.706em;
	color:#3b4268;
	height:27px;
	line-height:27px;
}
.aside-holder .pager-holder .next{
	float:right;
	background:url(../img/btn-next.png) no-repeat 100% 0;
	padding:0 33px 0 0;
	font-size:0.706em;
	color:#3b4268;
	height:27px;
	line-height:27px;
}
.aside-holder .pager-list{
	overflow:hidden;
	padding:0 0 0 33px;
}
.aside-holder .pager-list li{
	float:left;
	margin:0 4px 0 0;
}
.aside-holder .pager-list a{
	padding:0 3px;
	float:left;
	font-size:0.824em;
	line-height:1.5em;
}
.aside-holder .pager-list a:hover,
.aside-holder .pager-list .active a{
	text-decoration:none;
	background:#41bced;
}
.change-form{
	width:564px;
	padding:0 0 9px 4px;
	float:right;
	margin-right: 5px;
}
.change-form input[type="text"]{
	float:left;
	margin:6px 6px 0 0;
	background:#41bced;
	border:none;
	padding:0 14px;
	width:489px;
	height:33px;
	line-height:2.538em;
	font-size:0.765em;
	color:#404f58;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.show-form{
	margin:0 0 8px;
	background:#f1f3f3;
	padding:17px;
	float:right;
	width:539px;
}
.show-form h2{
	float:left;
	margin:0 -18px 0 0;
	font-size:14px;
	line-height:16px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.show-form .area{
	float:left;
	margin:0 0 0 39px;
}
.show-form .area label{
	float:left;
	margin:0 6px 0 0;
	font-size:12px;
	line-height:15px;
	color:#404f59;
}
.show-form .area input[type="radio"]{
	margin:0;
	padding:0;
	width:16px;
	height:15px;
	float:left;
}
.map{
	overflow:hidden;
	width:573px;
	float:right;
}
#loadingspinner{
	width:150px;
	height:150px;
	background:#fff url("../img/ajax-loader.gif") no-repeat center center;
	border-radius:10px;
	position:fixed;
	top:50%;
	left:50%;
	margin:-75px 0 0 -75px;
	display:none;
}
/*
 * FORMS
 */
.gray-section{
	overflow:hidden;
	padding:0 0 28px;
}
.gray-section h2{
	margin:0 0 13px;
	font-size:1.294em;
	line-height:1.294em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.gray-holder{
	overflow:hidden;
	background:#f1f3f3;
	padding:17px 19px 20px;
}
.gray-holder h3{
	margin:0 0 1px;
	font-size:0.941em;
	line-height:1.2em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.gray-holder .text{
	font-size:0.765em;
	font-style:italic;
	display:block;
	margin:0 0 15px;
}
.gray-form{overflow:hidden;}
.gray-form .column-holder{
	padding:0 0 13px 2px;
	overflow:hidden;
}
.gray-form .column-holder h3{margin:0 0 10px;}
.gray-form .column1{
	float:left;
	width:265px;
	margin:0 81px 0 0;
}
.gray-form .column1 .row{
	padding:0 0 10px;
	width:265px;
	float:left;
}
.gray-form  input[type="text"]{
	float:left;
	width:253px;
	height:22px;
	line-height:1.692em;
	border:none;
	padding:0 5px;
	background:#dde0e2;
	font-size:0.765em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	color:#404f59;
}
.gray-form .column2{
	float:left;
	width:297px;
	margin:0 64px 0 0;
}
.gray-form .column2 .row-radio{
	overflow:hidden;
	padding:0 0 8px;
}
.gray-form .column2 .row-radio input[type="radio"]{
	margin:0;
	padding:0;
	width:16px;
	height:15px;
	float:left;
}
.gray-form .column2 .row-radio label{
	float:left;
	padding:0 18px 0 10px;
	font-size:0.765em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	line-height:1.154em;
}
.gray-form .column2 .col-holder{
	overflow:hidden;
	padding:0 0 2px;
}
.gray-form .column2 .col1{
	float:left;
	width:124px;
}
.gray-form .column2 .col2{
	float:right;
	margin:0 28px 0 0;
	width:125px;
}
.gray-form .row-select{
	overflow:hidden;
	padding:0 0 9px;
}
.gray-form .row-select label{
	float:left;
	margin:0 16px 0 0;
	font-size:0.824em;
	line-height:1.571em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	width:33px;
}
.gray-form .row-select select{
	float:left;
	width:75px;
	font-size:14px;
	line-height:16px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	color:#000;
}
.gray-form .row-select select.date{width:125px;}
.gray-form .column2 .label{
	display:block;
	font-size:0.706em;
	line-height:1em;
	font-style:italic;
}
.gray-form .column3{
	float:left;
	width:183px;
	padding:0 10px 0 0;
}
.gray-form .column3 h4{
	margin:0 0 18px;
	font-size:0.765em;
	line-height:1em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.gray-form .column3 .radio-holder{
	overflow:hidden;
	margin:0 -10px 0 0;
}
.gray-form .column3 .radio-box{
	width:72px;
	float:left;
}
.gray-form .column3 .radio-box:first-child{width:116px;}
.gray-form .column3 .area{
	overflow:hidden;
	padding:0 0 8px;
}
.gray-form .column3 .radio-box input[type="radio"]{
	margin:0;
	padding:0;
	width:16px;
	height:15px;
	float:left;
}
.gray-form .column3 .radio-box label{
	/* float:left; */
	margin:0 0 0 5px;
	font-size:14px;
	line-height:15px;
}
.gray-form input[type="submit"]{
	float:right;
	width:88px;
	height:26px;
	line-height:2.167em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	border:none;
	padding:0;
	margin:0 27px 0 0;
	font-size:0.706em;
	background: #613277;
border-radius: 20px;
font-size: 0.706em;
color: #fff;
}
.user-form  input[type="password"],
.user-form  input[type="email"]{
	width:253px;
	line-height:1.692em;
	color:#404f59;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	padding:0 5px;
	background:#dde0e2;
	border:none;
}
.user-form  label{
	display:block;
	margin:0 0 5px 0;
}
.user-form  .input{
	margin:0 0 10px 0;
}
.login-box h2{
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	margin-bottom:20px;
}
.login-box .btn-holder{
	margin-bottom:10px;
}
.user-form .change_password label{
	font-size:0.85em;
	line-height:1.2em;
}
#questionnaire .column-holder{
	padding:0;
	overflow:hidden;
}
#questionnaire .questionnaire-page{
	font-size:1em;
	line-height:1.2em;
}
#questionnaire .questionnaire-page .question-categories{
	background: #9487c6;
	padding: 10px 94px 10px;
	margin: -10px 0 10px -94px;
	font-family: "Museo Sans W01 900",Arial,sans-serif;
	color: #fff;
	font-size: 0.9em;
}
#questionnaire .questionnaire-page .question-categories legend{
	font-size: 1.3em;
}
#questionnaire .questionnaire-page .question-categories .checkbox{
	display:inline-block;
}
#questionnaire .questionnaire-page .question-categories-network {
	display: block !important;
}

#questionnaire .questionnaire-page .question-categories-network-template {
	display: none !important;
}

#questionnaire .questionnaire-page .member-network-question-categories{
	background: #9487c6;
	padding: 10px 94px 10px;
	margin: -10px 0 10px -94px;
	font-family: "Museo Sans W01 900",Arial,sans-serif;
	color: #fff;
	font-size: 0.9em;
}
#questionnaire .questionnaire-page .member-network-question-categories legend{
	font-size: 1.3em;
}
#questionnaire .questionnaire-page .member-network-question-categories .checkbox{
	display:inline-block;
}
#questionnaire .questionnaire-page .question-categories-network {
	display: block !important;
}
#questionnaire .questionnaire-page-top-interest .checkbox {
	display: block;
	float: none !important;
}
.networkMemberStatementHeading p {
	font-family: "Museo Sans W01 900",Arial,sans-serif;
	font-weight: 900;
	margin: 10px 0;
}
.networkMemberStatement {
	font-family: "Museo Sans W01 500",Arial,sans-serif;
	margin: 10px 0;
}
.networkMemberStatement-name {
	font-weight: 900;
}
.networkMemberStatement .checkbox {
	display: inline-block;
	margin-left: 10px;
}

#questionnaire .legend-title{
	font-size:1.1em;
}
#questionnaire .legend-desc{
	font-style:italic;
	margin-bottom:10px;
}
#questionnaire .column1{
	float:left;
	width:355px;
	margin:0 50px 0 0;
}
#questionnaire .column2{
	float:left;
	width:380px;
	margin:0;
}
#questionnaire small{
	font-size:0.85em;
	line-height:1.2em;
	font-style:italic;
	display:block;
	margin-top: 2px;
}
#questionnaire div.input{
	margin-bottom:20px;
}
#questionnaire .statement div.input{
	margin-bottom:0;
}
#questionnaire .radio input, #questionnaire .radio label, #questionnaire .select .checkbox{
	float:left;
}
#questionnaire .select .checkbox{
	margin-right:10px;
}
#questionnaire .radio label{
	margin:0 10px 0 5px;
	color:#000;
}
#questionnaire .statement .radio legend{
	font-size:1.3em;
}
#questionnaire .statement .radio label{
	color:inherit;
	font-family:"Museo Sans W01 900",Arial,sans-serif;
	margin:0 20px 0 5px;
}
#questionnaire legend, #questionnaire .select>label{
	font-family:"Museo Sans W01 900",Arial,sans-serif;
	margin-bottom:4px;
}
#questionnaire label span{
	font-family:"Museo Sans W01 500",Arial,sans-serif;
	display:block;
}
#questionnaire input[type="text"],
#questionnaire input[type="email"]{
	width:90%;
	line-height:1.692em;
	border:none;
	padding:6px 5px;
	background:#dde0e2;
	font-size:1em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	color:#404f59;
}
#questionnaire input[type="text"]#other-name{
	width:200px!important;
}
#questionnaire .error-message,
.error-message{
	color:#972034;
}

#footer{
	overflow:hidden;
	padding:0 0 0;
	position:relative;
	border-top: 2px solid #dde0e2;
}
#footer p {
	font-size: 14px;
	margin: 20px 0;
}
#footer p a {
	text-decoration: underline;
}
.footer-logo{
	float:left;
	width:148px;
	height:63px;
	text-indent:-9999px;
	background:url(../img/logo2.png) no-repeat;
	overflow:hidden;
}
.footer-logo a{
	display:block;
	height:100%;
}
.footer-box{
	width: 100%;
	margin: 8px 0 0;
	font-family: "Museo Sans W01 900", Arial, sans-serif;
	text-align: right;
	font-size: 0.471em;
	line-height: 1.25em;
}
.footer-box p{
	margin:0 0 15px;
	clear:both;
}
.footer-logo2{
	float:right;
	margin:0 0 10px;
	width:148px;
	height:52px;
	text-align:left;
	text-indent:-9999px;
	background:url(../img/logo3.png) no-repeat;
	overflow:hidden;
}
.footer-logo2 a{
	display:block;
	height:100%;
}

.footer-box ul.logos{
	display:block;
	list-style: none;
}
.footer-box ul.logos li{
	display: inline-block;
	margin-right: 75px;
}
.footer-box ul.logos li:last-child{
	margin-right: 0px;
}

.jcf-hidden{
	display:block !important;
	position:absolute !important;
	left:-9999px !important;
}
.rad-area{
	margin:0;
	float:left;
	background:url(../img/bg-radio.png) no-repeat -16px 0;
	width:15px;
	height:16px;
}
.rad-checked{background:url(../img/bg-radio.png) no-repeat;}
.gray-form .rad-area{background:url(../img/bg-radio2.png) no-repeat -16px 0;}
.gray-form .rad-checked{background:url(../img/bg-radio2.png) no-repeat;}
.select-area{
	position:relative;
	overflow:hidden;
	cursor:pointer;
	height:23px;
	float:left;
}
.select-area .center{
	width:56px;
	text-align:center;
	line-height:1.643em;
	background:#dde0e2;
	font-size:0.824em;
	color:#000;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	float:left;
	margin:0 5px 0 0;
}
.select-date.select-area .center{width:109px;}
.select-area .select-opener{
	background:url(../img/btn-select.png) no-repeat;
	position:absolute;
	height:22px;
	width:14px;
	right:0;
	top:0;
}
.select-options{
	position:absolute;
	overflow:hidden;
	background:#fff;
	z-index:2000;
	min-width:56px !important;
}
.select-options.drop-date{width:109px !important;}
.select-options .drop-holder{
	border:1px solid #dde0e2;
	overflow:hidden;
	height:1%;
}
.select-options ul{
	list-style:none;
	padding:0;
	margin:0;
}
.select-options ul li{
	width:100%;
	font-size:14px;
	float:left;
}
.select-options ul a {
	text-decoration: none;
	padding:2px 2px;
	text-align:center;
	display:block;
	cursor:pointer;
	color:#000;
	height:1%;
}
.select-options .item-selected a{
	text-decoration:none;
	background:#dde0e2;
	color:#000;
}
.video-holder{
	margin-bottom: 30px;
}
.static-page h1, .contact h1,
.network-type-report h2{
	background: #b2abdd;
	font-size: 16px;
	margin: 6px 7px 16px 0px;
	padding: 6px 12px 5px 12px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.static-page h2, .page-content h3{
	font-size: 16px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	margin-bottom: 5px;
}
.static-page p{
	margin-bottom: 20px;
}
.static-page strong,
.static-page b{
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.static-page .first-box{
	padding-bottom: 20px;
	margin-bottom: 26px;
	border-bottom: 2px solid #dde0e2;
}
.static-page #main{
	padding-bottom: 20px;
}
.two-columns{
	-moz-column-count: 2;
	-moz-column-gap: 1.5em;
	-moz-column-rule: none;
	-webkit-column-count: 2;
	-webkit-column-gap: 1.5em;
	-webkit-column-rule: none;
	/* future proof */
	column-count: 2;
	column-gap: 1.5em;
	column-rule: none;
}
.two-columns .first.column p{ padding-right:20px; } /* IE/Columnizer */

.page-content{
	line-height:1.3em;

}
.question-box, .login-box{
	background: #f1f3f3;
	width:858px;
	min-height:357px;
	margin-left: 4px;
	margin-bottom: 26px;
	padding: 31px 0 50px 94px;
	position: relative;
}
.question-box b, .question-box strong, #favourites-action strong{
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.question-box h2, .question-box h3, #favourites-action h2{
	margin:0 0 13px;
	font-size:1.176em;
	line-height:1em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.question-box#login{
	background:#f1f3f3 url(../img/ico-pencil-sm.png) no-repeat 13px 15px;
}
.question-box#postcode-search{
	background:#f1f3f3 url(../img/ico-search-sm.png) no-repeat 13px 15px;
}
.question-box#questionnaire{
	background:#f1f3f3 url(../img/ico-mouse-sm.png) no-repeat 13px 15px;
}
.question-box a.close-button{
	position: absolute;
	left:862px;
	top:14px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	font-size: 0.8em;
	background: url(../img/btn-close.png) no-repeat right 0px;
	padding: 3px 30px 7px 0;
}
.question-box .next-button, .question-box .prev-button,
.question-box#questionnaire .submit input{
	position:absolute;
	bottom:18px;
	line-height:26px !important;
	display:inline-block;
	font-family: "Museo Sans W01 900", Arial, sans-serif;
	font-size: 1em;
}
.question-box#questionnaire .submit input{
	bottom:12px!important;
}
.question-box .next-button,
.question-box#questionnaire .submit input{
	padding-right:36px;
	background: url("../img/btn-next.png") no-repeat right 0px;
	right:18px;
}
.question-box .next-button{
	right:15em;
}
.question-box#questionnaire .submit input{
	border:0 none;
	min-height:26px;
	font-size:1em;
}
.question-box .prev-button{
	padding-left:36px;
	background: url("../img/btn-prev.png") no-repeat left 0px;
	left:18px;
}
.question-choice{
	background:#b2abdd;
	padding:10px 94px;
	margin:10px 0 10px -94px;
	font-size:0.9em
}
.question-description{
	font-size:0.9em;
	line-height:1.2em;
	padding:10px 94px 0 0;
}
.network-members .network-name,
.network-members .network-category,
.network-members .network-frequency{
	float:left;
	width:22%;
}
.network-members .network-frequency{
	width:22%;
}
.network-members .network-row-actions{
	float:left;
	width:10%;
}
.network-members .select-area{
	height:auto !important;
	width:auto !important;
	min-width:180px;
}
.network-members .select-area .center{
	width: auto;
	padding: 9px 20px 9px 10px;
	margin-right: 0;
	min-width: 150px;
	text-align: left !important;
}
.network-members .select-options ul a{
	text-align:left !important;
}
.network-members .select-area .select-opener{
	top:6px;
}
.network-members .select label, #questionnaire .network-members small{
	display:none;
}
#questionnaire .network-members small{
	padding-top: 7px;
}
#questionnaire .network-members div.input{
	margin-bottom:0;
}
#questionnaire .network-members .group-rows-inner .group-row:last-child small{
	display:block;
	clear:left;
	margin-top: -2px;
}
.network-members h3{
	margin:15px 0 8px 0;
}
.network-members .group-row{
	overflow:hidden;
	padding:4px 0 10px 0;
	border-bottom:2px solid #fff;
}
.network-row-add, .network-row-remove{
	background:url("../img/btn-plus.png") left top no-repeat;
	display:block;
	float:left;
	margin-right:10px;
}
.network-row-add{
	padding-left:30px;
	margin:10px 0;
}
.network-row-remove{
	background:url("../img/btn-minus.png") left top no-repeat;
	width:20px;
	height:20px;
	overflow:hidden;
	text-indent:-999em;
}
.group-rows{
	overflow:hidden;
}
#flashMessage{
	margin:10px 0;
	color:#972034;
}

a.close:hover{
	text-decoration: none;
}
#postcode-search input{
	background: #7f6bb5;
	border: none;
	margin: 0 0 22px 0;
	display:block;
	float:left;
	color:#fff;
}
#postcode-search input[type=submit]{
	width:56px;
	height:56px;
	background: #7f6bb5 url(../img/btn-search-trans.png) no-repeat 8px 12px;
}
#postcode-search input[type=text]{
	width:333px;
	height:54px;
	font-size:1.176em;
	line-height:1em;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	padding: 2px 0 0 14px;
}
#oh-pin-map{
	height:807px;
	width:100%;
}
.oh-pin{
	width:57px;
	height:72px;
	text-align: center;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	font-size: 30px;
	line-height: 60px;
	cursor: pointer;
}
.oh-pin.category-1{
	color: #728044;
	background:url(../img/pin-green.png) no-repeat;
}
.oh-pin.category-7{
	color:#a14a23;
	background:url(../img/pin-orange.png) no-repeat;
}
.oh-pin.category-13{
	color:#972034;
	background:url(../img/pin-pink.png) no-repeat;
}
.oh-pin.category-15{
	color:#0a6475;
	background:url(../img/pin-aqua.png) no-repeat;
}
.oh-pin.category-19{
	color:#3b4268;
	background:url(../img/pin-purple.png) no-repeat;
}
.oh-pin.category-23{
	color: #3c663b;
	background:url(../img/pin-dark-green.png) no-repeat;
}
.favourites .oh-pin{
	color: #404F59;
	background:url(../img/pin-yellow.png) no-repeat;
}
.oh-pin.category-1:hover, .oh-pin.category-1.active{
	color: #728044;
	background:url(../img/pin-green-hover.png) no-repeat;
}
.oh-pin.category-7:hover, .oh-pin.category-7.active{
	color:#a14a23;
	background:url(../img/pin-orange-hover.png) no-repeat;
}
.oh-pin.category-13:hover, .oh-pin.category-13.active{
	color:#972034;
	background:url(../img/pin-pink-hover.png) no-repeat;
}
.oh-pin.category-15:hover, .oh-pin.category-15.active{
	color:#0a6475;
	background:url(../img/pin-aqua-hover.png) no-repeat;
}
.oh-pin.category-19:hover,.oh-pin.category-19.active{
	color:#3b4268;
	background:url(../img/pin-purple-hover.png) no-repeat;
}
.oh-pin.category-23:hover, .oh-pin.category-23.active{
	color: #3c663b;
	background:url(../img/pin-dark-green-hover.png) no-repeat;
}
.favourites .oh-pin:hover, .favourites .oh-pin.active{
	color: #404F59;
	background:url(../img/pin-yellow-hover.png) no-repeat;
}
.oh-pin.you-are-here{
	color: #404F59;
	background:url(../img/pin-here.png) no-repeat;
	font-size: 18px;
	line-height: 20px;
	width:63px;
	height:84px;
	cursor:default;
	padding:10px;
}
h2#filter-label{
	float:left;
	font-size: 14px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	color: #a14a23;
	margin-top: 24px;
}
h2#filter-label.category-1{
	color: #728044;
}
h2#filter-label.category-7{
	color: #a14a23;
}
h2#filter-label.category-13{
	color: #972034;
}
h2#filter-label.category-15{
	color: #0a6475;
}
h2#filter-label.category-19{
	color: #3b4268;
}
h2#filter-label.category-23{
	color: #3c663b;
}
ul#filter-list{
	float:left;
	margin-bottom: 8px;
	width:100%;
}
#filter-list li{
	background: #6c51a2;
	color: #fff;
	margin: 2px 0px 8px 0;
	display: inline-block;
}
#filter-list li.category-1{
	color: #404f59;
	background:#c3e76f;
}
#filter-list li.category-7{
	color: #404f59;
	background:#ff9b43;
}
#filter-list li.category-13{
	color: #404f59;
	background:#ff7f8c;
}
#filter-list li.category-15{
	color: #404f59;
	background:#4ecdc4;
}
#filter-list li.category-19{
	color: #404f59;
	background:#a7a7ff;
}
#filter-list li.category-23{
	color: #404f59;
	background:#72c271;
}
#filter-list li a{
	color: inherit;
	display: block;
	text-align: center;
	padding: 6px 8px 2px 8px;
	text-decoration: none;
	height:22px;
	min-width: 94px;
	font-family:"Museo Sans W01 900", Arial, sans-serif;
	font-size: 14px;
}
#filter-list li.active{
	margin-top: -4px;
}
#filter-list li.active a{
	padding-top:12px;
	padding-bottom: 8px;
}
.clear{
	clear:both;
}
.back-link{
	font-size: 12px;
	background:url(../img/btn-back.png) no-repeat;
	padding: 8px 0px 8px 33px;
	text-decoration: none;
	margin-left: 16px;
}
.service .text-box{
	clear:both;
	border-bottom: 1px solid #eae8e5;
	padding: 0px 22px 10px 16px;
	margin-bottom:12px;
	font-size: 14px;
	line-height: 18px;
	word-wrap: break-word;
}
.service .text-box ul{
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
.service .text-box li{
	margin: 0;
}
.service .text-box a{
	text-decoration: underline;
}
.service .text-box strong{
	font-family:"Museo Sans W01 900", Arial, sans-serif;
}
.service .text-box h2{
	margin-bottom: 0px;
}
.service .text-section,
.service .number{
	margin-top: 9px;
}
.service a.favourite-link{
	font-size: 12px;
	text-decoration: none;
	margin-top: 3px;
}
.twitter-link,
.facebook-link{
	display: inline-block;
	margin-top: 17px;
	margin-right: 46px;
}
.twitter-link{
	padding-left: 29px;
}
.category-1 .twitter-link{
	background: url(../img/twitter-green.png) no-repeat;
}
.category-7 .twitter-link{
	background: url(../img/twitter-orange.png) no-repeat;
}
.category-13 .twitter-link{
	background: url(../img/twitter-pink.png) no-repeat;
}
.category-15 .twitter-link{
	background: url(../img/twitter-aqua.png) no-repeat;
}
.category-19 .twitter-link{
	background: url(../img/twitter-purple.png) no-repeat;
}
.category-23 .twitter-link{
	background: url(../img/twitter-dark-green.png) no-repeat;
}
.facebook-link{
	padding-left: 18px;
}
.category-1 .facebook-link{
	background: url(../img/facebook-green.png) no-repeat;
}
.category-7 .facebook-link{
	background: url(../img/facebook-orange.png) no-repeat;
}
.category-13 .facebook-link{
	background: url(../img/facebook-pink.png) no-repeat;
}
.category-15 .facebook-link{
	background: url(../img/facebook-aqua.png) no-repeat;
}
.category-19 .facebook-link{
	background: url(../img/facebook-purple.png) no-repeat;
}
.category-23 .facebook-link{
	background: url(../img/facebook-dark-green.png) no-repeat;
}
.category-1 .twitter-link,
.category-1 .facebook-link,
.category-1 .twitter a{
	color: #728044;
}
.category-7 .twitter-link,
.category-7 .facebook-link,
.category-7 .twitter a{
	color: #a14a23;
}
.category-13 .twitter-link,
.category-13 .facebook-link,
.category-13 .twitter a{
	color: #972034;
}
.category-15 .twitter-link,
.category-15 .facebook-link,
.category-15 .twitter a{
	color: #0a6475;
}
.category-19 .twitter-link,
.category-19 .facebook-link,
.category-19 .twitter a{
	color: #3b4268;
}
.category-23 .twitter-link,
.category-23 .facebook-link,
.category-23 .twitter a{
	color: #3c663b;
}
.info-box p{
	margin-bottom: 6px;
}
.twitter li{
	padding-left: 30px;
}
.category-1 .twitter li{
	background: url(../img/twitter-green.png) no-repeat 0px 24px;
}
.category-7 .twitter li{
	background: url(../img/twitter-orange.png) no-repeat 0px 24px;
}
.category-13 .twitter li{
	background: url(../img/twitter-pink.png) no-repeat 0px 24px;
}
.category-15 .twitter li{
	background: url(../img/twitter-aqua.png) no-repeat 0px 24px;
}
.category-19 .twitter li{
	background: url(../img/twitter-purple.png) no-repeat 0px 24px;
}
.category-23 .twitter li{
	background: url(../img/twitter-dark-green.png) no-repeat 0px 24px;
}
.twitter li .text{
	border-top: 2px solid;
	padding-top: 11px;
}
.category-1 .twitter li .text{
	border-color: #c3e76f;
}
.category-7 .twitter li .text{
	border-color: #ff9b43;
}
.category-13 .twitter li .text{
	border-color: #ff7f8c;
}
.category-15 .twitter li .text{
	border-color: #4ecdc4;
}
.category-19 .twitter li .text{
	border-color: #a7a7ff;
}
.category-23 .twitter li .text{
	border-color: #72c271;
}
.twitter li:first-child .text{
	border-top: none;
}
.twitter li .date{
	padding-bottom: 10px;
	font-style: oblique;
	font-size: 12px;
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.contact .col{
	width:50%;
	float:left;
	margin:30px 0;
}
.contact .contact-part{
	padding-left:100px;
	height:100px;
}
.contact  .formatted a{
	text-decoration:underline;
}
.contact #write{
	background:url(../img/ico-pencil-m.png) no-repeat;
}
.contact #email{
	background:url(../img/ico-mail-m.png) no-repeat;
}
.contact #tel{
	background:url(../img/ico-tel-m.png) no-repeat;
}
/* Favourites */
#favourites-action-wrapper{
	display:none;
}
#favourites-action{
	padding:30px;
}

/* Video stuff */

.fancy-hide{
	display: none;
}

.text-box img.video-thumb{
	width: 151px;
	height:auto;
}
.text-box .video-link{
	display: block;
	float:left;
	margin: 6px;
}

#fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 20px;
	z-index: 1101;
	display: none;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-safari-box-sizing: content-box;
	box-sizing: content-box;
}

#fancybox-outer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #FFF;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-safari-box-sizing: content-box;
	box-sizing: content-box;
}

#fancybox-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: 0;
	outline: none;
	overflow: hidden;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-safari-box-sizing: content-box;
	box-sizing: content-box;
}
a.street-start{
	padding-top: 2px;
	display: block;
}
a.street-start img{
	position: relative;
	top: -3px;
	margin-right: 7px;
}

/* My network stuff */

#network-circle{
	background: url('../img/big-circle.png') no-repeat;
	display: block;
	width: 580px;
	height: 579px;
	position: relative;
	margin-bottom:20px;
}
#network-diagram{
	position: relative;
}
.network-circle-name{
	position: absolute;
	top: 48%;
	left: 50%;
	margin-left:-150px;
	color: #fff;
	font-size: 138%;
	width: 300px;
	text-align: center;
}
.network-pin-area{
	background: url('../img/drag-arrows.png') no-repeat;
	display: inline-block;
	width:190px;
	height:120px;
	padding: 34px 28px 32px 31px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
	margin-top: 15px;
}
.network-pin{
	display:block;
	min-width:57px;
	min-height:72px;
	position:absolute;
}
#questionnaire .network-pin{
	cursor:move;
	z-index: 10;
}
#network-leg{
	width: 230px;
	position: absolute;
	top: 300px;
	right: 20px;
}

#network-leg ul li{
	display: block;
	margin: 12px 0 0 0;
	height: 21px;
	padding: 1px 0 0 25px;
}

#network-leg .leg-distance li:nth-child(1){
	background: url('../img/leg_01.png') no-repeat;
}
#network-leg .leg-distance li:nth-child(2){
	background: url('../img/leg_02.png') no-repeat;
}
#network-leg .leg-distance li:nth-child(3){
	background: url('../img/leg_03.png') no-repeat;
}
#network-leg .leg-distance li:nth-child(4){
	background: url('../img/leg_04.png') no-repeat;
}

#network-leg .leg-frequency li:nth-child(1){
	background: url('../img/pin-daily.png') no-repeat;
}
#network-leg .leg-frequency li:nth-child(2){
	background: url('../img/pin-weekly.png') no-repeat;
}
#network-leg .leg-frequency li:nth-child(3){
	background: url('../img/pin-monthly.png') no-repeat;
}
#network-leg .leg-frequency li:nth-child(4){
	background: url('../img/pin-less.png') no-repeat;
}

#network-leg #network-trash-can{
	background: url('../img/ico-trash-can.png') no-repeat;
	display: block;
	width: 74px;
	height: 76px;
	padding: 23px 33px 2px 33px;
	margin-top: 20px;
	background-position: center;
	margin: auto;
	margin-top: 45px;
}
.network-trash-hover{
	opacity:0.5;
}

#network-leg ul{
	margin-bottom: 30px;
	display: block;
}
.network-pin-info{
	margin-left: 27px;
	font-size: 14px;
	line-height: 15px;
}
.network-pin-placed{
	color:#fff;
}
.network-pin .network-pin-name{
	width: 100px;
	font-weight: bold;
}
.network-pin .network-pin-role{
	width: 100px;
	font-size: 90%;
}
.network-pin-daily{
	background: url('../img/pin-daily.png') no-repeat;
	background-position: left 3px top 5px;
}
.network-pin-weekly{
	background: url('../img/pin-weekly.png') no-repeat;
	background-position: left 3px top 5px;
}
.network-pin-monthly{
	background: url('../img/pin-monthly.png') no-repeat;
	background-position: left 3px top 5px;
}
.network-pin-less{
	background: url('../img/pin-less.png') no-repeat;
	background-position: left 3px top 5px;
}
.network-instructions{
	font-size: 14px;
	display: inline-block;
	width: 261px;
	margin-left: 29px;
	vertical-align: top;
	margin-top: 40px;
}
.trash-instructions{
	font-size:14px;
	text-align: center;
}
/* Print styles */

@media print {
	.header-holder, .header-box, #nav, #footer, #debug-kit-toolbar,
	.gray-section, #filter-label, #filter-list,
	.favourite-link, .more, .cat-helper {
		display: none;
	}
	.results-list .text-box {
		display: block;
	}

	.logo:after {
		content: url('../img/logo.png');
	}

	.oh-pin.category-1, .oh-pin.category-7 , .oh-pin.category-13,
	.oh-pin.category-15, .oh-pin.category-19, .oh-pin.category-23  {
		background: none;
		z-index: 1 !important;
	}

	.oh-pin.category-1:after {
		content: url('../img/pin-green.png');
		position: relative;
		bottom: 60px;
		z-index: -1 !important;
	}

	.oh-pin.category-7:after {
		content: url('../img/pin-orange.png');
		position: relative;
		bottom: 60px;
		z-index: -1 !important;
	}

	.oh-pin.category-13:after {
		content: url('../img/pin-pink.png');
		position: relative;
		bottom: 60px;
		z-index: -1 !important;
	}

	.oh-pin.category-15:after {
		content: url('../img/pin-aqua.png');
		position: relative;
		bottom: 60px;
		z-index: -1 !important;
	}

	.oh-pin.category-19:after {
		content: url('../img/pin-purple.png');
		position: relative;
		bottom: 60px;
		z-index: -1 !important;
	}

	.oh-pin.category-23:after {
		content: url('../img/pin-dark-green.png');
		position: relative;
		bottom: 60px;
		z-index: -1 !important;
	}
}

/* High contrast - main*/
body.high-contrast,
body.high-contrast #questionnaire.question-box,
body.high-contrast .question-box,
body.high-contrast #postcode-search.question-box,
body.high-contrast .login-box,
body.high-contrast #login.question-box,
body.high-contrast .gray-holder{
	background: none repeat scroll 0 0 #000;
    color: #ffd200;
}
body.high-contrast a{
	color: #ffd200;
	text-decoration:underline;
}
body.high-contrast .login-form input,
body.high-contrast .header-box .menu a,
body.high-contrast #nav a,
body.high-contrast .header-box .search-form input[type="text"],
body.high-contrast .contact input[type="text"],
body.high-contrast .contact input[type="email"],
body.high-contrast .contact textarea,
body.high-contrast .options-list li,
body.high-contrast .options-list li a,
body.high-contrast #questionnaire input[type="text"],
body.high-contrast #postcode-search input[type="text"],
body.high-contrast #postcode-search input[type="submit"],
body.high-contrast .login-form input[type="submit"],
body.high-contrast .btn,
body.high-contrast .user-form input[type="password"],
body.high-contrast .user-form input[type="email"],
body.high-contrast .gray-form input[type="text"],
body.high-contrast .change-form input[type="text"],
body.high-contrast .show-form{
	background-color:#fff;
	color:#000;
}
body.high-contrast .gray-form input[type="submit"]{
	background:#fff;
	border-radius: 20px;
	color:#000;
}
body.high-contrast input,
body.high-contrast textarea,
body.high-contrast select,
body.high-contrast #questionnaire .radio label{
	color: #ffd200;
}
body.high-contrast .question-choice{
	background:#000;
	border-top: 3px solid #ffd200;
	border-bottom: 3px solid #ffd200;
}
body.high-contrast #flashMessage,
body.high-contrast #questionnaire .error-message,
body.high-contrast  .error-message,
body.high-contrast.static-page h1,
body.high-contrast .contact h1{
	border: 1px solid #ffd200;
	color: #ffd200;
	padding:0 5px;
}
body.high-contrast.static-page h1,
body.high-contrast .contact h1{
	background:transparent;
}
body.high-contrast .logo{
	background-image: url("../img/logo-hc.png");
}
/* High contrast - Map*/
body.high-contrast .aside-list,
body.high-contrast .aside-holder,
body.high-contrast div.service{
	background:#000;
}
body.high-contrast .results-list{
	border-color:#fff;
}
body.high-contrast .results-list:hover,
body.high-contrast .results-list.active,
body.high-contrast .aside h2.results-list{
	background:#2c2c2c;
}
body.high-contrast .aside-list h3 .mark,
body.high-contrast .aside h2.results-list,
body.high-contrast .aside-holder .pager-holder .next,
body.high-contrast .aside-holder .pager-holder .prev,
body.high-contrast div.service h2,
body.high-contrast div.service h3,
body.high-contrast div.service h3 .mark,
body.high-contrast h2#filter-label{
    color: #ffd200;
}
body.high-contrast .aside-list .more{
	background:#fff;
	color:#000;
	border-radius:20px;
	overflow:hidden;
}
body.high-contrast .aside .link-holder .favourites,
body.high-contrast .aside .link-holder .results{
	color:#000;
}
body.high-contrast .aside-holder .pager-list a:hover,
body.high-contrast .aside-holder .pager-list .active a,
body.high-contrast #filter-list li.active a,
body.high-contrast #filter-list li a{
	background:#fff;
	color:#000;
}
body.high-contrast .oh-pin{
	color: #000;
	background:url(../img/pin-yellow.png) no-repeat;
}
body.high-contrast .oh-pin:hover, body.high-contrast .oh-pin.active{
	color: #000 !important;
	background:url(../img/pin-yellow-hover.png) no-repeat !important;
}
body.high-contrast .number{
	color: #000;
	background:url(../img/ico-yellow.png) no-repeat;
}
body.high-contrast .favourites li .number,
body.high-contrast .favourites .text-box .number {
    background: url("../img/ico-dark.png") no-repeat scroll 0 0 transparent;
    color: #FFE66E;
}
body.high-contrast .favourites #results-list h2{
	background:#2c2c2c !important;
}
body.high-contrast .favourites #results-list,
body.high-contrast .favourites #results-list a,
body.high-contrast .favourites li .aside-list h3 .mark,
body.high-contrast .favourites div.service h2,
body.high-contrast .favourites div.service h3,
body.high-contrast .favourites div.service h3 .mark,
body.high-contrast .favourites .aside-holder,
body.high-contrast .favourites .aside-holder a,
body.high-contrast .favourites div.service,
body.high-contrast .favourites div.service a{
	color:#000 !important;
}
body.high-contrast .favourites .results-list,
body.high-contrast .favourites #results-list h2,
body.high-contrast .favourites .aside-holder{
	border-color:#2c2c2c;
}

.vanish{
	display: none!important;
}

.form-inline input,
.form-control,
.button,
.button-default,
.button-primary {
	-moz-box-sizing:border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;
}

.form-inline input {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-control {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 20px 0;
}
.button-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.button-primary {
	background-color: #613277;
	border-color: #613277;
	color: #fff;
}
.button-link {
	font-weight: 400;
	color: #337ab7;
	border-radius: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: transparent;
}

.servicesAvailability .form-inline {
	display: inline-block;
}
.servicesAvailability p {
	margin: 15px 0 5px;
}
.js-locationWrapper {
	width: 49%;
	display: inline-block;
}
.js-locationWrapper input {
	width: 230px;
}
.categories-keywords-wrapper > div {
	width: 320px;
	float: left;
}

.servicesAvailability {
	margin-bottom: 20px;
}
.servicesAvailability .aside-list .more {
	margin-top: auto;
}

.servicesAvailability .aside {
	height: 807px;
	overflow: scroll;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.ms-parent.categories {
	width: 304px !important;
}
